.m-grid__item
  .m-login__logo
    %a{:href => "#"}
      = image_tag("logo-4.png")
.m-grid__item.m-grid__item--fluid.m-grid.m-grid--ver
  .m-grid__item.m-grid__item--middle
    %span.m-login__title Whatever CTA's wave purpose important exit element
    %span.m-login__subtitle Lorem ipsum amet estudiat
.m-grid__item
  .m-login__info
    .m-login__section
      %a.m-link{:href => "#"} &copy 2018 Metronic
    .m-login__section
      %a.m-link{:href => "#"} Privacy
      %a.m-link{:href => "#"} Legal
      %a.m-link{:href => "#"} Contact
