.m-portlet__body
  - [@a, @b, @play_off_1_4, @play_off_1_2, @final].each_with_index do |group, i|
    - if group.any?
      %div{ id: "table_#{i}"}
        = render "table", group: group, group_index: i
        %br
        %br
