/ BEGIN: Left Aside
%button#m_aside_left_close_btn.m-aside-left-close.m-aside-left-close--skin-dark
  %i.la.la-close
#m_aside_left.m-grid__item.m-aside-left.m-aside-left--skin-dark
  / BEGIN: Aside Menu
  #m_ver_menu.m-aside-menu.m-aside-menu--skin-dark.m-aside-menu--submenu-skin-dark{"m-menu-dropdown-timeout" => "500", "m-menu-scrollable" => "1", "m-menu-vertical" => "1", :style => "position: relative;"}
    %ul.m-menu__nav.m-menu__nav--dropdown-submenu-arrow
      %li.m-menu__item.m-menu__item--active{"aria-haspopup" => "true"}
        %a.m-menu__link{:href => "index.html"}
          %i.m-menu__link-icon.flaticon-line-graph
          %span.m-menu__link-title
            %span.m-menu__link-wrap
              %span.m-menu__link-text Dashboard
              %span.m-menu__link-badge
                %span.m-badge.m-badge--danger 2
      %li.m-menu__section
        %h4.m-menu__section-text Components
        %i.m-menu__section-icon.flaticon-more-v2
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
        %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
          %i.m-menu__link-icon.flaticon-layers
          %span.m-menu__link-text Base
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item.m-menu__item--parent{"aria-haspopup" => "true"}
              %span.m-menu__link
                %span.m-menu__link-text Base
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/base/state.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text State Colors
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/base/typography.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Typography
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/base/stack.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Stack
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/base/tables.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Tables
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/base/progress.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Progress
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/base/modal.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Modal
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/base/alerts.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Alerts
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/base/popover.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Popover
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/base/tooltip.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Tooltip
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/base/blockui.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Block UI
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/base/spinners.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Spinners
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/base/scrollable.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Scrollable
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/base/dropdown.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Dropdown
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
              %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Tabs
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "components/base/tabs/bootstrap.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Bootstrap Tabs
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "components/base/tabs/line.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Line Tabs
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/base/accordions.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Accordions
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/base/navs.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Navs
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/base/lists.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Lists
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/base/treeview.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Tree View
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/base/bootstrap-notify.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Bootstrap Notify
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/base/toastr.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Toastr
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/base/sweetalert2.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text SweetAlert2
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
        %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
          %i.m-menu__link-icon.flaticon-share
          %span.m-menu__link-text Icons
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/icons/flaticon.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Flaticon
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/icons/fontawesome5.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Fontawesome 5
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/icons/lineawesome.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Lineawesome
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/icons/socicons.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Socicons
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
        %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
          %i.m-menu__link-icon.flaticon-multimedia-1
          %span.m-menu__link-text Buttons
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item.m-menu__item--parent{"aria-haspopup" => "true"}
              %span.m-menu__link
                %span.m-menu__link-text Buttons
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
              %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Button Base
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "components/buttons/base/default.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Default Style
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "components/buttons/base/square.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Square Style
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "components/buttons/base/pill.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Pill Style
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "components/buttons/base/air.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Air Style
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/buttons/group.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Button Group
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/buttons/dropdown.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Button Dropdown
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
              %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Button Icon
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "components/buttons/icon/lineawesome.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Lineawesome Icons
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "components/buttons/icon/fontawesome.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Fontawesome Icons
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "components/buttons/icon/flaticon.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Flaticon Icons
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
        %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
          %i.m-menu__link-icon.flaticon-interface-1
          %span.m-menu__link-text Portlets
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item.m-menu__item--parent{"aria-haspopup" => "true"}
              %span.m-menu__link
                %span.m-menu__link-text Portlets
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/portlets/base.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Base Portlets
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/portlets/advanced.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Advanced Portlets
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/portlets/creative.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Creative Portlets
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/portlets/tabbed.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Tabbed Portlets
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/portlets/draggable.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Draggable Portlets
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/portlets/tools.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Portlet Tools
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/portlets/sticky-head.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Sticky Head
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
        %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
          %i.m-menu__link-icon.flaticon-interface-6
          %span.m-menu__link-text Timeline
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item.m-menu__item--parent{"aria-haspopup" => "true"}
              %span.m-menu__link
                %span.m-menu__link-text Timeline
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/timeline/timeline-1.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Timeline 1
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/timeline/timeline-2.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Timeline 2
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
        %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
          %i.m-menu__link-icon.flaticon-network
          %span.m-menu__link-text Widgets
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item.m-menu__item--parent{"aria-haspopup" => "true"}
              %span.m-menu__link
                %span.m-menu__link-text Widgets
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/widgets/general.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text General Widgets
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/widgets/chart.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Chart Widgets
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
        %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
          %i.m-menu__link-icon.flaticon-calendar
          %span.m-menu__link-text Calendar
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item.m-menu__item--parent{"aria-haspopup" => "true"}
              %span.m-menu__link
                %span.m-menu__link-text Calendar
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/calendar/basic.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Basic Calendar
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/calendar/list-view.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text List Views
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/calendar/google.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Google Calendar
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/calendar/external-events.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text External Events
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/calendar/background-events.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Background Events
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
        %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
          %i.m-menu__link-icon.flaticon-diagram
          %span.m-menu__link-text Charts
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item.m-menu__item--parent{"aria-haspopup" => "true"}
              %span.m-menu__link
                %span.m-menu__link-text Charts
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
              %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text amCharts
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "components/charts/amcharts/charts.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text amCharts Charts
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "components/charts/amcharts/stock-charts.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text amCharts Stock Charts
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "components/charts/amcharts/maps.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text amCharts Maps
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/charts/flotcharts.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Flot Charts
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/charts/google-charts.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Google Charts
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/charts/morris-charts.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Morris Charts
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
        %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
          %i.m-menu__link-icon.flaticon-placeholder-1
          %span.m-menu__link-text Maps
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item.m-menu__item--parent{"aria-haspopup" => "true"}
              %span.m-menu__link
                %span.m-menu__link-text Maps
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/maps/google-maps.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Google Maps
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/maps/jqvmap.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text JQVMap
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
        %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
          %i.m-menu__link-icon.flaticon-signs-2
          %span.m-menu__link-text Utils
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item.m-menu__item--parent{"aria-haspopup" => "true"}
              %span.m-menu__link
                %span.m-menu__link-text Utils
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/utils/session-timeout.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Session Timeout
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "components/utils/idle-timer.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Idle Timer
      %li.m-menu__section
        %h4.m-menu__section-text CRUD
        %i.m-menu__section-icon.flaticon-more-v2
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
        %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
          %i.m-menu__link-icon.flaticon-interface-7
          %span.m-menu__link-text Forms  Controls
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item.m-menu__item--parent{"aria-haspopup" => "true"}
              %span.m-menu__link
                %span.m-menu__link-text Forms  Controls
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
              %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Form Controls
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/controls/base.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Base Inputs
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/controls/checkbox-radio.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Checkbox  Radio
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/controls/input-group.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Input Groups
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/controls/switch.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Switch
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/controls/option.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Mega Options
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
              %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Form Widgets
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/widgets/bootstrap-datepicker.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Datepicker
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/widgets/bootstrap-datetimepicker.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Datetimepicker
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/widgets/bootstrap-timepicker.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Timepicker
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/widgets/bootstrap-daterangepicker.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Daterangepicker
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/widgets/bootstrap-touchspin.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Touchspin
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/widgets/bootstrap-maxlength.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Maxlength
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/widgets/bootstrap-switch.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Switch
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/widgets/bootstrap-multipleselectsplitter.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Multiple Select Splitter
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/widgets/bootstrap-select.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Bootstrap Select
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/widgets/select2.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Select2
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/widgets/typeahead.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Typeahead
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/widgets/nouislider.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text noUiSlider
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/widgets/form-repeater.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Form Repeater
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/widgets/ion-range-slider.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Ion Range Slider
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/widgets/input-mask.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Input Masks
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/widgets/summernote.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Summernote WYSIWYG
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/widgets/bootstrap-markdown.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Markdown Editor
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/widgets/autosize.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Autosize
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/widgets/clipboard.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Clipboard
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/widgets/dropzone.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Dropzone
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/widgets/recaptcha.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Google reCaptcha
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
              %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Form Layouts
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/layouts/default-forms.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Default Forms
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/layouts/multi-column-forms.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Multi Column Forms
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/layouts/action-bars.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Basic Action Bars
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/layouts/sticky-action-bar.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Sticky Action Bar
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
              %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Form Validation
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/validation/states.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Validation States
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/validation/form-controls.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Form Controls
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/forms/validation/form-widgets.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Form Widgets
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
        %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
          %i.m-menu__link-icon.flaticon-interface-8
          %span.m-menu__link-text Metronic Wizard
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "crud/wizard/wizard-1.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Form Wizard 1
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "crud/wizard/wizard-2.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Form Wizard 2
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "crud/wizard/wizard-3.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Form Wizard 3
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "crud/wizard/wizard-4.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Form Wizard 4
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "crud/wizard/wizard-5.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Form Wizard 5
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
        %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
          %i.m-menu__link-icon.flaticon-tabs
          %span.m-menu__link-text Metronic Datatable
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item.m-menu__item--parent{"aria-haspopup" => "true"}
              %span.m-menu__link
                %span.m-menu__link-text Metronic Datatable
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
              %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Base
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/metronic-datatable/base/data-local.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Local Data
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/metronic-datatable/base/data-json.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text JSON Data
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/metronic-datatable/base/data-ajax.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Ajax Data
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/metronic-datatable/base/html-table.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text HTML Table
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/metronic-datatable/base/record-selection.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Record Selection
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/metronic-datatable/base/local-sort.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Local Sort
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/metronic-datatable/base/row-details.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Row Details
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/metronic-datatable/base/column-rendering.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Column Rendering
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/metronic-datatable/base/column-width.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Column Width
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/metronic-datatable/base/responsive-columns.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Responsive Columns
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/metronic-datatable/base/translation.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Translation
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
              %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Scrolling
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/metronic-datatable/scrolling/vertical.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Vertical Scrolling
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/metronic-datatable/scrolling/horizontal.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Horizontal Scrolling
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/metronic-datatable/scrolling/both.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Both Scrolling
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
              %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Locked Columns
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/metronic-datatable/locked/left.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Left Locked Columns
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/metronic-datatable/locked/right.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Right Locked Columns
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/metronic-datatable/locked/both.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Both Locked Columns
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/metronic-datatable/locked/html-table.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text HTML Table
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
              %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Child Datatables
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/metronic-datatable/child/data-local.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Local Data
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/metronic-datatable/child/data-ajax.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Remote Data
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
              %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text API
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/metronic-datatable/api/methods.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text API Methods
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/metronic-datatable/api/events.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Events
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
        %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
          %i.m-menu__link-icon.flaticon-list-3
          %span.m-menu__link-text DataTables
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item.m-menu__item--parent{"aria-haspopup" => "true"}
              %span.m-menu__link
                %span.m-menu__link-text DataTables
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
              %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Basic
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/datatables/basic/basic.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Basic Tables
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/datatables/basic/scrollable.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Scrollable Tables
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/datatables/basic/headers.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Complex Headers
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/datatables/basic/paginations.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Pagination Options
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
              %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Advanced
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/datatables/advanced/column-rendering.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Column Rendering
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/datatables/advanced/multiple-controls.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Multiple Controls
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/datatables/advanced/column-visibility.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Column Visibility
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/datatables/advanced/row-callback.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Row Callback
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/datatables/advanced/row-grouping.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Row Grouping
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/datatables/advanced/footer-callback.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Footer Callback
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
              %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Data sources
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/datatables/data-sources/html.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text HTML
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/datatables/data-sources/javascript.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Javascript
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/datatables/data-sources/ajax-client-side.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Ajax Client-side
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/datatables/data-sources/ajax-server-side.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Ajax Server-side
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
              %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Search Options
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/datatables/search-options/column-search.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Column Search
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/datatables/search-options/advanced-search.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Advanced Search
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
              %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Extensions
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/datatables/extensions/buttons.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Buttons
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/datatables/extensions/colreorder.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text ColReorder
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/datatables/extensions/keytable.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text KeyTable
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/datatables/extensions/responsive.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Responsive
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/datatables/extensions/rowgroup.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text RowGroup
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/datatables/extensions/rowreorder.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text RowReorder
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/datatables/extensions/scroller.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Scroller
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "crud/datatables/extensions/select.html"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Select
      %li.m-menu__section
        %h4.m-menu__section-text Snippets
        %i.m-menu__section-icon.flaticon-more-v2
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
        %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
          %i.m-menu__link-icon.flaticon-interface-9
          %span.m-menu__link-text Pricing Tables
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item.m-menu__item--parent{"aria-haspopup" => "true"}
              %span.m-menu__link
                %span.m-menu__link-text Pricing Tables
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "snippets/general/pricing-tables/pricing-table-1.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Pricing Tables v1
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "snippets/general/pricing-tables/pricing-table-2.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Pricing Tables v2
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "snippets/general/pricing-tables/pricing-table-3.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Pricing Tables v3
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "snippets/general/pricing-tables/pricing-table-4.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Pricing Tables v4
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
        %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
          %i.m-menu__link-icon.flaticon-piggy-bank
          %span.m-menu__link-text Invoices
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item.m-menu__item--parent{"aria-haspopup" => "true"}
              %span.m-menu__link
                %span.m-menu__link-text Invoices
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "snippets/invoices/invoice-1.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Invoice v1
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "snippets/invoices/invoice-2.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Invoice v2
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
        %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
          %i.m-menu__link-icon.flaticon-exclamation
          %span.m-menu__link-text FAQS
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item.m-menu__item--parent{"aria-haspopup" => "true"}
              %span.m-menu__link
                %span.m-menu__link-text FAQS
            %li.m-menu__item{"aria-haspopup" => "true"}
              %a.m-menu__link{:href => "snippets/faq/faq-1.html"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text FAQ v1
      %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
        %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
          %i.m-menu__link-icon.flaticon-suitcase
          %span.m-menu__link-text Custom Pages
          %i.m-menu__ver-arrow.la.la-angle-right
        .m-menu__submenu
          %span.m-menu__arrow
          %ul.m-menu__subnav
            %li.m-menu__item.m-menu__item--parent{"aria-haspopup" => "true"}
              %span.m-menu__link
                %span.m-menu__link-text Custom Pages
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
              %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text User Pages
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "snippets/pages/user/login-1.html", :target => "_blank"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Login - 1
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "snippets/pages/user/login-2.html", :target => "_blank"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Login - 2
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "snippets/pages/user/login-3.html", :target => "_blank"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Login - 3
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "snippets/pages/user/login-4.html", :target => "_blank"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Login - 4
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "snippets/pages/user/login-5.html", :target => "_blank"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Login - 5
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "snippets/pages/user/login-6.html", :target => "_blank"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Login - 6
            %li.m-menu__item.m-menu__item--submenu{"aria-haspopup" => "true"}
              %a.m-menu__link.m-menu__toggle{:href => "javascript:;"}
                %i.m-menu__link-bullet.m-menu__link-bullet--dot
                  %span
                %span.m-menu__link-text Error Pages
                %i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu
                %span.m-menu__arrow
                %ul.m-menu__subnav
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "snippets/pages/errors/error-1.html", :target => "_blank"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Error 1
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "snippets/pages/errors/error-2.html", :target => "_blank"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Error 2
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "snippets/pages/errors/error-3.html", :target => "_blank"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Error 3
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "snippets/pages/errors/error-4.html", :target => "_blank"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Error 4
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "snippets/pages/errors/error-5.html", :target => "_blank"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Error 5
                  %li.m-menu__item{"aria-haspopup" => "true"}
                    %a.m-menu__link{:href => "snippets/pages/errors/error-6.html", :target => "_blank"}
                      %i.m-menu__link-bullet.m-menu__link-bullet--dot
                        %span
                      %span.m-menu__link-text Error 6
        .m-grid__item.m-grid__item--fluid.m-wrapper
