-# Subheader
.m-subheader
  .d-flex.align-items-center

    %h3.m-subheader__title
      = @tournament.title.nil? ? t('tournaments.create') : @tournament.title
    - if @tournament.aasm_state == Tournament::TOURNAMENT_STATES[-1].to_s && !@tournament.has_nil_scores?
      %h3.m-subheader__title= t('tournaments.winner') + @tournament.winner.title
    %div
      %span#m_dashboard_daterangepicker.m-subheader__daterange
        %span.m-subheader__daterange-label
          %span.m-subheader__daterange-title
          %span.m-subheader__daterange-date.m--font-brand
